body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
ul, ol {
    list-style-type: none;
    padding: 0;
margin: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    max-height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    /*display: flex;
    gap: 40px; */
    display: none;
}

.address-list {
   /* display: flex;
    align-items: center;
    gap: 40px; */
    display: none;

}

.navigation {
    display: flex;  
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
padding: 17px 0;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.header-list {
    position: relative;
    color: #404BBF;
}

.studio {
    color: #404BBF;
    position: relative;
}

.studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
}

.address {
    /*font-style: normal;
    margin-left: auto; */
    display: none;
}

.menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

.menu-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4) ;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.menu {
    width: 320px;
    min-height: 640px;
    padding-left: 16px;
    position: absolute;
}

.menu-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #2e2f42;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2,1), border 250ms cubic-bezier(0.4, 0, 0.2,1);
}

.menu-tab-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}

.menu-tab-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-tab-link:hover,
.menu-tab-link:focus {
    color: #404BBF;
}

.menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
    margin-bottom: 48px;
}

.menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #4D5AE5;
}


.menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-link {
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob.jpg);
    /*padding: 188px 0;
    max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 52px;
}

@media screen and (min-resolution:192dpi) {
    .hero {
        background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob-2x.jpg); 
    }
}

.hero-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 216px;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 0 auto;
padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.button:focus {
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.benefits {
    padding: 96px 16px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-left: 0;
}

.benefits-item {
    /*flex-basis: calc((100% - 3*24px) / 4); */
}

.benefits-icon-container {
   /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; */
    display: none;
}

.benefits-title {
    font-family: "Roboto", sans-serif;
    /*font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42; 
    margin-bottom: 8px;
}

.benefits-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    min-width: 288px;
}

.team {
    background-color: #F4F4FD;
    /*padding: 120px 0;*/
    padding: 96px 28px;
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-card {
    background-color: #FFFFFF;
    /*flex-basis: calc((100% - 72px) / 4);*/
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item {
    padding: 32px 0;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-link:hover,
.icon-link:focus {
    background-color: #404BBF;
}

.icon-team {
    fill: #F4F4FD;
}



.team-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 8px;
}

.team-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 8px;
}

.our-products {
    padding: 96px 16px;
}

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description{
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.portfolio-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 96px 16px;
}

.footer-container {
    display: flex;
    /*align-items: baseline; */
    flex-wrap: wrap;
    gap: 72px;
}

.footer-l {
   /* margin-right: 120px; */
   display: flex;
   flex-direction: column;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
display: inline-block;
margin-bottom: 16px;
text-align: center;
}

.footer-accent {
color: #F4F4FD;
}

.footer-descr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD; 
    min-width: 288px;
    margin-bottom: 72px;
}

.footer-r {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.footer-social-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #F4F4FD;
}


.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-top: 72px;
}

.footer-form-container {
   /* margin-left: auto; */
   padding-left: 0;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: 78px;
}

.footer-form-icon {
    margin-left: 16px;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4) ;
    position: fixed;
    top: 0; 
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding: 40px;*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);
    padding: 72px 16px 16px 16px;
}

.modal-close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2,1), border 250ms cubic-bezier(0.4, 0, 0.2,1);
}

.modal-close-button:hover {
    border-radius: 100%;
    background-color: #404BBF;
    width: 24px;
    height: 24px;
    border: none;
    fill: #ffffff;
}

.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close button:focus .modal-close-icon,
.modal-close button:hover .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
width: 256px;
margin-bottom: 16px;
}

.modal-form

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
display: block;
}

.modal-input {
    border: 1px solid #2e2f42;
border-radius: 4px;
width: 100%;
height: 40px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}

.form-icon-wrap {
    position: relative;    
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-textarea-wrap {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea:placeholder {
    font-family:"roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.policy-wrap {
    margin-bottom: 24px;
}

.policy-label {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
align-items: center;
width: 338px;
}

.privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f42;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.policy-input:checked + .policy-label > .privacy-span {
    background-color: #404bbf;
    border:none; 
    fill: #F4F4FD;
}

.privacy-icon {
    fill: #F4F4FD;
}


.button-send {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    
    .menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em; 
     color: #2E2F42;
     padding: 24px 0;
     display: block;
     transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
     
    .nav-link:hover {
         font-family: "Roboto", sans-serif;
         font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; 
      color: #404bbf;
    }
     
    .nav-link:focus {
         font-family: "Roboto", sans-serif;
         font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; 
      color: #404bbf; 
    }

    .address {
        display: block;
        font-style: normal;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-list {
        position: relative;
        color: #404BBF;
    }
    
    .studio {
        color: #404BBF;
        position: relative;
    }
    
    .studio::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        width: 100%;
    }

    .contacts {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.4em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contacts:hover {
        color: #404bbf; 
    }
    
    .contacts:focus {
        color: #404bbf; 
    }

    .hero {
        background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-tab.jpg);  
    }

    @media screen and (min-resolution:192dpi) {
        .hero {
            background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-tab-2x.jpg);   
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .benefits {
        padding: 96px 16px;
        max-width: 736px;
    }

    .benefits-list {
        gap: 72px 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-title {
        text-align: left;
    }

    .benefits-paragraph {
        min-width: 356px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-card {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list {
        display: flex;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 768px;
        margin: 0 auto;
    }

    .footer-l,
    .footer-r,
    .footer-form-container {
        width: calc(100% - 24px) / 2;
    }

    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .modal-title {
        width: 360px;
    }

    .policy-label {
        width: 360px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
    .menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em; 
     color: #2E2F42;
     padding: 24px 0;
     display: block;
     transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
     
    .nav-link:hover {
         font-family: "Roboto", sans-serif;
         font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; 
      color: #404bbf;
    }
     
    .nav-link:focus {
         font-family: "Roboto", sans-serif;
         font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; 
      color: #404bbf; 
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .header-list {
        position: relative;
        color: #404BBF;
    }
    
    .studio {
        color: #404BBF;
        position: relative;
    }
    
    .studio::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        width: 100%;
    }

    .contacts {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.4em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contacts:hover {
        color: #404bbf; 
    }
    
    .contacts:focus {
        color: #404bbf; 
    }
    
    .hero {
        background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        padding: 188px 0;
        max-width: 1440px;   
    }

    @media screen and (min-resolution:192dpi) {
        .hero {
            background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-2x.jpg);
        }
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .benefits {
        padding: 120px 0;
    }

    .benefits-list {
         display: flex;
         gap: 24px;
         padding-left: 0;
         margin: 0; 
    }

    .benefits-icon-container {
        display: flex;
         align-items: center;
         justify-content: center;
         height: 112px;
         background-color: #F4F4FD;
         border-radius: 4px;
         border: 1px solid #8e8f99;
         margin-bottom: 8px; 
    }

    .benefits-item {
        width: calc((100% - 3*24px) / 4);
    }

    .benefits-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .benefits-paragraph {
        font-weight: 400;
        font-size: 16px;
        min-width: 264px;
    }

    .team {
        background-color: #F4F4FD;
        padding: 120px 0;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-card {
        width: calc((100% - 72px) / 4);
    }

    .our-products {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px; 
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-l {
        margin-right: 120px;
    }

    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .modal-title {
        width: 360px;
    }

}